.main_image_area img {
    @include border-radius($borderRadius);
  z-index: 0;
 /*future proofing */
  width: 100%;
  margin: 0 0 0 0;
  max-width: 868px; }


.homepage_icons_section{
  @include make-row(); 
  margin:0;
  padding:0;
}


.homepage_icon {
  padding: 10px 0 0 0;
  border: 0 solid #e1e1e1;
  width:33.3%;
  float:left;
  p{
    text-align: center;
    color:$item_color;
    font-size:12px;
    margin:0;
    text-decoration: none;
  }
  img{
    @include border-radius($borderRadius);
    width: 97%;
    max-width: 280px;     
  }


}//end homepage icon

.homepage_icons_section a:hover {
    text-decoration: none;
}//end homepage icon hover

.left {
  text-align: left; }

.mid {
  margin: 0 auto;
  text-align: center }

.right {
  text-align: right; 
  float:right}


@media (max-width: 480px) {
  .main_image_area{display: none;}
  .container{width:96% !important; margin-top:2px;}
  .homepage_icon{width:100%}
  .left {text-align: center; }
  .mid {margin: 0 auto; text-align: center }
  .right {text-align: center; }
  .homepage_icon p{font-size: 12px!important;}   

}

@media (max-width: 767px) {
  .container{width:96% !important; margin-top:2px;}
  .homepage_icon p{font-size: 11px;}  
  .webnam_header_overflow_hack{
    margin:0;
    padding:0;
    max-width: 96%;
    overflow: hidden;
   }


}











  